name: paperless
include:
  - ../networks.yml

services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
  db:
    image: docker.io/library/postgres:18
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ versions.paperless }}
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "8000:8000"
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - {{ data_disk_mountpoint }}/volumes/paperless/export:/usr/src/paperless/export
      - {{ data_disk_mountpoint }}/volumes/paperless/consume:/usr/src/paperless/consume
    env_file:
      - docker-compose.env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_TIME_ZONE: "${TZ:-UTC}"
    labels:
      traefik.enable: true
      traefik.http.routers.paperless.entrypoints: websecure
      traefik.http.routers.paperless.rule: Host(`paperless.${SERVER_DOMAIN}`)
      traefik.http.routers.paperless.tls.certresolver: ${CERT_RESOLVER}

volumes:
  data:
  media:
  pgdata:
  redisdata:
