include:
  - ../networks.yml

services:
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:{{ versions.kuma }}
    restart: unless-stopped
    volumes:
      - {{ data_disk_mountpoint }}/volumes/uptime-kuma/data:/app/data
    ports:
      # <Host Port>:<Container Port>
      - "3001:3001"
    labels:

      # Shared service definition
      traefik.enable: true
      traefik.http.services.kuma-service.loadbalancer.server.port: 3001

      # Uptime Kuma Status Page Router
      traefik.http.routers.uptime-kuma.entrypoints: websecure
      traefik.http.routers.uptime-kuma.rule: Host(`status.${SERVER_DOMAIN}`)
      traefik.http.routers.uptime-kuma.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.uptime-kuma.service: kuma-service
      traefik.http.routers.uptime-kuma.middlewares: redirect-status

      # Uptime Kuma Admin Interface Router
      traefik.http.routers.status-admin.entrypoints: websecure
      traefik.http.routers.status-admin.rule: Host(`status-admin.${SERVER_DOMAIN}`)
      traefik.http.routers.status-admin.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.status-admin.service: kuma-service

      # Middleware to redirect to /status/default
      traefik.http.middlewares.redirect-status.redirectregex.regex: "^https://status\\.[^/]+/?$"
      traefik.http.middlewares.redirect-status.redirectregex.replacement: "https://status.${SERVER_DOMAIN}/status/default"
      traefik.http.middlewares.redirect-status.redirectregex.permanent: true
