global:
  scrape_interval: 15s

  external_labels:
    monitor: 'swintronics'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 15s
    static_configs:
      - targets:
        - prometheus:9090

  - job_name: 'node'
    scrape_interval: 15s
    static_configs:
      - targets:
        - node-exporter:9100

  - job_name: cadvisor
    scrape_interval: 15s
    static_configs:
      - targets:
        - cadvisor:8080

  - job_name: tailscale
    scrape_interval: 15s
    static_configs:
      - targets:
        - tailscale:9002

  - job_name: immich_api
    static_configs:
      - targets: ['immich-server:8081']

  - job_name: immich_microservices
    static_configs:
      - targets: ['immich-server:8082']
