name: tailnet
services:
  tailscale:
    cap_add:
      - net_admin
      - sys_module
    container_name: tailscale
    devices:
      - source: /dev/net/tun
        target: /dev/net/tun
        permissions: rwm
    environment:
      TS_AUTH_KEY: tskey-client-kCdhDmGe1F11CNTRL-2ZTyJBacdYJjDboTStQLZJdccFnrgNrN
      TS_ENABLE_HEALTH_CHECK: "true"
      TS_ENABLE_METRICS: "true"
      TS_EXTRA_ARGS: --advertise-tags=tag:container
      TS_STATE_DIR: /var/lib/tailscale
    hostname: swintronics
    image: tailscale/tailscale:v1.90.6
    networks:
      proxy: null
    ports:
      - mode: ingress
        target: 41641
        published: "41641"
        protocol: udp
      - mode: ingress
        target: 8080
        published: "8080"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: volume
        source: tailscale-data
        target: /var/lib/tailscale
        volume: {}
  traefik:
    container_name: traefik
    depends_on:
      tailscale:
        condition: service_started
        required: true
    environment:
      CERT_RESOLVER: production
      CF_DNS_API_TOKEN: M_dttAgxarJG9o07xNEfkug0CElQL6dvHcZvFoBf
      SERVER_DOMAIN: swintronics.com
      TZ: America/New_York
    healthcheck:
      test:
        - CMD-SHELL
        - traefik healthcheck || exit 1
      timeout: 30s
      interval: 1m0s
      retries: 3
      start_period: 20s
    image: traefik:3.5.4
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.rule: Host(`traefik.swintronics.com`)
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.tls.certresolver: production
      traefik.http.services.dummy.loadbalancer.server.port: "8080"
    network_mode: service:tailscale
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
        bind:
          create_host_path: true
      - type: bind
        source: /home/neil/swintronics/docker-services/networking/data/traefik.yml
        target: /traefik.yml
        read_only: true
        bind:
          create_host_path: true
      - type: bind
        source: /home/neil/swintronics/docker-services/networking/data/configs
        target: /configs
        read_only: true
        bind:
          create_host_path: true
      - type: volume
        source: production-certs
        target: /certs
        volume: {}
      - type: bind
        source: /swintronics-data/logs/traefik
        target: /logs
        bind:
          create_host_path: true
  whoami:
    profiles:
      - debug
    container_name: simple-service
    image: traefik/whoami
    labels:
      traefik.enable: "true"
      traefik.http.routers.whoami.entrypoints: websecure
      traefik.http.routers.whoami.rule: Host(`whoami.swintronics.com`)
      traefik.http.routers.whoami.tls.certresolver: production
    networks:
      proxy: null
    restart: unless-stopped
networks:
  proxy:
    name: proxy
    external: true
volumes:
  production-certs:
    name: tailnet_production-certs
  tailscale-data:
    name: tailnet_tailscale-data
    driver: local
